<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/header.ejs') %>

		<main style="margin: 1em">
			<h3>My URLs</h3>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Short URL ID</th>
						<th scope="col">Long URL</th>
						<th scope="col">View</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<% urls.forEach(url => { %>
					<tr>
						<td>
							<a href="<%= url.longUrl.startsWith("http://") || url.longUrl.startsWith('https://') ? url.longUrl : ('//'+url.longUrl) %>" target="_blank"><%= url.shortUrl %></a>
						</td>
						<td><%= url.longUrl %></td>
						<td>
							<a class="btn btn-primary" href="urls/url/<%= url.shortUrl %>"
								>View</a
							>
						</td>
						<td>
							<form action="urls/delete/<%= url.shortUrl %>" method="POST">
								<button type="submit" class="btn btn-danger">Delete</button>
							</form>
						</td>
						<% }) %>
					</tr>
				</tbody>
			</table>
		</main>
		<%- include('./partials/scripts.ejs') %>
	</body>
</html>
